@charset "UTF-8";


/* 시맨틱 태그 : 웹 문서 구조 */
/* 전체 영역 밖여백 0, 안여백 0, 테두리선 기준 사이즈 계산 box-sizing*/
*{
	margin: 0px; padding: 0px; box-sizing: border-box;
}
/* id="container" 너비 1200, 화면 중앙에 배치(가운데 정렬) */
#container{
	width: 1200px; margin: 0px auto;
}
/* 하이퍼링크 밑줄 없앰 */
a{
	text-decoration: none;
}
/* 목록 점 없앰 */
ul{
	list-style-type: none;
}
/* 헤더 */
/* header 태그  너비 100% 높이 100px 배경색 #045*/
header{
	width: 100%; height: 100px; background-color: #045;
}
/* 로고 */
/* id="logo"  너비 250, 높이 100, 줄간격 100, 안 왼쪽 여백 20*/
#logo{
	width: 250px; height: 100px; line-height: 100px;
	padding-left: 20px;
	float: left;
}
/* id="logo" h1 글자크기 40px, 글자색 흰색, 글자굵기 700, 
글자 그림자  0 -1 0 #222 */
#logo h1{
	font-size: 40px; color: white; font-weight: 700;
	text-shadow: 0px -1px 0 #222;
}
/* 메뉴 */
/* nav 너비 900, 높이 100, 안 위여백 40 , 배경색  yellow*/
nav{
	width: 900px; height: 100px; padding-top: 40px;
	float: right;
}
/* id="topMenu"  높이 60*/
#topMenu{
	height: 60px;
}
/* id="topMenu" li  왼쪽으로 어울리게 함 */
#topMenu li{
	float: left;
}
/* id="topMenu" li a  글자크기 1.1em, 글자굵기 600, 안여백 20 60 , 
                        display block*/
#topMenu li a{
	font-size: 1.1em; font-weight: 600; padding: 20px 60px;
	display: block; color: white;
}                        
/* id="topMenu" li a  마우스오버 글자색 #1fa8f8, 글자그림자 0 -2 #222 */
#topMenu li a:hover{
	color: #1fa8f8; text-shadow: 0px -2px #222;
}
/* 본문 */
/* main 태그 너비 1000px , 밖여백 위아래 50  왼오른쪽 가운데, 배경색 skyblue*/
main{
	width: 1000px; margin: 50px auto; 
}
/* main section 밖 위 여백  60*/
main section{
	margin-top: 60px;
}
/* main h2 글자크기 1.5em 줄간격 2.5*/
main h2{
	font-size: 1.5em;  line-height: 2.5;
}
/* main div 밖 위 여백 20 */
main div{
	margin-top: 20px;
}
/* main h3 글자크기 1.2em 줄간격 2.2 */
main h3{
	font-size: 1.2em;  line-height: 2.2;
}
/* class="detail" p 줄간격 2.0, 글자색 #222 */
.detail p{
	line-height: 2.0; color: #222;
}
/* class="detail" img 모서리 둥글게 20px, 밖 오른쪽 여백 50px, 왼쪽 어울림  */

}
/* class="schedule" ul li 줄간격 2 */

}

/* 푸터 */
/* footer 태그 너비 1200, 높이 100,  배경색 pink */
footer{

}
#bottomMenu {
/* 	너비 : 100%  높이 20px  밖 왼쪽 여백 60*/
width: 100%; height: 20px; margin-left: 60px;
}
#bottomMenu ul{
/*  밖 위 여백 15px */

}
#bottomMenu ul li{
/* 	왼쪽으로 어울림(가로로 배치), 안여백 5px 20px, 
오른쪽 테두리선 1 실선 #ddd */

}
#bottomMenu ul li:last-child{
/* 테두리선 없음 */

}
#bottomMenu ul li a{
/* 글자크기 15px, 글자색 #666 */

}